# USE_TAXONOMY=false
# USE_LLM=false
# OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# OPENAI_BASE_URL=https://api.nbai.art/v1
# OPENAI_MODEL=gpt-4o-mini
# SIM_MAX_DEPTH=3
USE_TAXONOMY=true
USE_LLM=true
OPENAI_API_KEY=sk-xxx
OPENAI_BASE_URL=xxx
OPENAI_MODEL=gpt-4o
SIM_MAX_DEPTH=4
